.button-container {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #403d52;
  color: #e0def4;
  border-radius: 25px;
  border: 2px solid #9ccfd8;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}
.button-container:hover {
  background-color: #26233a;
}
.operator {
  background-color: #ea9a97;
}
.operator:hover {
  background-color: #d7827e;
}
